.container{
  max-width:960px;
  margin:auto;
}


/*
 * Plug-in Styles
*/

.multi-crop{
  display:flex;
  position:relative;
  width:100%;
}

  .multi-crop .img-holder,
  .multi-crop .bound-data{
    vertical-align:top;
  }

    /*
     *  Image Holder - left side, has bounds
    */
    .multi-crop .img-holder{
      line-height:0;
    }
      .multi-crop .img-holder .padder{
        padding:2px;
        background:#000;
      }
      .multi-crop.png .img-holder .padder{
        background:#000 url(../imgs/transparency-checkers.png);
      }
      .multi-crop .img-holder img{
        max-width:100%;
        pointer-events:none;
        opacity:1;
      }
      .multi-crop .img-holder.dim img{
        opacity:.5;
      }

      .multi-crop .bound{
        position:absolute;
        top:0; left:0;
        width:100px;
        height:100px;
        border:2px dashed #f00;
        cursor:move;
        background-clip:padding-box;
        background-repeat:no-repeat;
        transition:
          box-shadow ease .2s,
          opacity ease .2s;
      }
        .multi-crop .bound .bg{
          position:absolute;
          top:0; right:0;
          bottom:0; left:0;
          opacity:.6;
        }

        .multi-crop .img-holder.dim .bound{
          opacity:.1;
        }
        .multi-crop .bound.hover,
        .multi-crop .img-holder.dim .bound.hover,
        .multi-crop .img-holder.dim .bound.ui-draggable-dragging,
        .multi-crop .img-holder.dim .bound.ui-resizable-resizing{
          box-shadow:0 0 11px;
          opacity:1;
        }
          .multi-crop .bound.hover .bg,
          .multi-crop .img-holder.dim .bound.hover .bg,
          .multi-crop .img-holder.dim .bound.ui-draggable-dragging .bg,
          .multi-crop .img-holder.dim .bound.ui-resizable-resizing .bg{
            opacity:1;
          }
          
        .multi-crop .bound.active{
          box-shadow:0 0 22px;
          opacity:1;
        }
          .multi-crop .bound.active .bg{
            opacity:1;
          }

          .multi-crop .bound label{
            position:absolute;
            top:-1.6em;
            font-size:.8571em;
            line-height:1.6em;
            color:#333;
            padding:0 .5em;
            background:rgba(255,255,255,.5);
            border-radius:4px 4px 0 0;
            text-transform:capitalize;
          }

    
    /*
     *  Bounds Data - right side
    */
    .multi-crop .bounds-data{
      min-width:252px;
      line-height:1.4em;
      flex:1;
      overflow-y:auto;
    }

      .multi-crop .bounds-data ul{
        list-style:none;
        margin:0 0 0 5px;
        padding:0;
      }
        .multi-crop .bounds-data li{
          padding:0;
          margin:2px 0;
        }

        .multi-crop .bounds-data li header{
          padding:2px 5px;
          text-transform:capitalize;
          color:#fff;
          cursor:pointer;
        }
          .multi-crop .bounds-data li header:before{
            content:'+';
            font-weight:bold;
            margin-right:4px;
          }

        .multi-crop .bounds-data li div{
          display:none;
        }

        .multi-crop .bounds-data canvas{
          max-width:100%;
          max-height:200px;
        }
        .multi-crop.png .bounds-data canvas{
          background:url(../imgs/transparency-checkers.png);
        }


      .multi-crop .bounds-data li.open header:before,
      .multi-crop .bounds-data li.active header:before{
        content:'-';
      }
      .multi-crop .bounds-data li.open div,
      .multi-crop .bounds-data li.active div{
        display:block;
        padding:5px;
      }
      .multi-crop .bounds-data p{
        margin:0 0 5px 0;
      }


.multi-crop .btn-group{
  margin-left:5px;
}
  .multi-crop .btn-group:first-child{
    margin-left:0;
  }

  .multi-crop button.btn{
    border:0;
    text-indent:-999px;
    width:25px;
    height:25px;
    cursor:pointer;
    background-position:50%;
    background-repeat:no-repeat;
    background-color:#e5e5e5;
    border-right:1px solid #ccc;
    overflow:hidden;
    opacity:.75;
  }
    .multi-crop .btn:hover{
      opacity:1;
    }
    .multi-crop .btn.bringToFront{ background-image:url(../imgs/shape_move_front.png); }
    .multi-crop .btn.alignTop{ background-image:url(../imgs/shape_align_top.png); }
    .multi-crop .btn.alignMiddle{ background-image:url(../imgs/shape_align_middle.png); }
    .multi-crop .btn.alignBottom{ background-image:url(../imgs/shape_align_bottom.png); }
    .multi-crop .btn.alignLeft{ background-image:url(../imgs/shape_align_left.png); }
    .multi-crop .btn.alignCenter{ background-image:url(../imgs/shape_align_center.png); }
    .multi-crop .btn.alignRight{ background-image:url(../imgs/shape_align_right.png); }
    .multi-crop .btn.maximize{ background-image:url(../imgs/arrow_out.png); }

  .multi-crop .btn-group > .btn:first-child{
    border-radius:2px 0 0 2px;
  }
  .multi-crop .btn-group > .btn:last-child{
    border-radius:0 2px 2px 0;
    border-right:none;
  }
  .multi-crop .btn-group > .btn:first-child:last-child{
    border-radius:2px;
  }

